<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>125</key>
	<string>85.25</string>
	<key>250</key>
	<string>82.00</string>
	<key>500</key>
	<string>82.95</string>
	<key>750</key>
	<string>84.90</string>
	<key>1000</key>
	<string>85.30</string>
	<key>1500</key>
	<string>87.00</string>
	<key>2000</key>
	<string>86.95</string>
	<key>3000</key>
	<string>82.50</string>
	<key>4000</key>
	<string>71.70</string>
	<key>6000</key>
	<string>85.85</string>
	<key>8000</key>
	<string>80.20</string>
</dict>
</plist>
