<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>125</key>
	<string>92.45</string>
	<key>250</key>
	<string>86.5</string>
	<key>500</key>
	<string>86.55</string>
	<key>750</key>
	<string>86.95</string>
	<key>1000</key>
	<string>87.3</string>
	<key>1500</key>
	<string>88.35</string>
	<key>2000</key>
	<string>87.4</string>
	<key>3000</key>
	<string>83.45</string>
	<key>4000</key>
	<string>75.35</string>
	<key>6000</key>
	<string>88.05</string>
	<key>8000</key>
	<string>84.75</string>
</dict>
</plist>
