<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>125</key>
	<string>85.95</string>
	<key>250</key>
	<string>78.2</string>
	<key>500</key>
	<string>80.1</string>
	<key>750</key>
	<string>79.3</string>
	<key>1000</key>
	<string>78.85</string>
	<key>1500</key>
	<string>77.4</string>
	<key>2000</key>
	<string>75.85</string>
	<key>3000</key>
	<string>74.85</string>
	<key>4000</key>
	<string>69.05</string>
	<key>6000</key>
	<string>75.85</string>
	<key>8000</key>
	<string>89.85</string>
</dict>
</plist>
