<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>125</key>
	<string>85.6</string>
	<key>250</key>
	<string>77.3</string>
	<key>500</key>
	<string>80.7</string>
	<key>750</key>
	<string>80.25</string>
	<key>1000</key>
	<string>80.8</string>
	<key>1500</key>
	<string>81.15</string>
	<key>2000</key>
	<string>79.5</string>
	<key>3000</key>
	<string>75.05</string>
	<key>4000</key>
	<string>75.35</string>
	<key>6000</key>
	<string>81.9</string>
	<key>8000</key>
	<string>87</string>
</dict>
</plist>
