<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>125</key>
	<string>26.2</string>
	<key>250</key>
	<string>20.1</string>
	<key>500</key>
	<string>8.6</string>
	<key>750</key>
	<string>5.1</string>
	<key>1000</key>
	<string>2.7</string>
	<key>1500</key>
	<string>3.2</string>
	<key>2000</key>
	<string>0.5</string>
	<key>3000</key>
	<string>-1.6</string>
	<key>4000</key>
	<string>0.1</string>
	<key>6000</key>
	<string>20.9</string>
	<key>8000</key>
	<string>23.1</string>
</dict>
</plist>
